html{
  scroll-behavior: smooth;
}

.myheader{
  text-align: center;
  color: white;
  background-image: url("https://wallpapershome.com/images/pages/pic_h/20600.jpg");
}

.profile_pic{
  border-radius: 50%;
}

.Contents{
  position: relative;
}

#skills{
  top: 500px;
  text-align: center;
}

#contact{
  top: 1500px;
  text-align: center;
  font-family: cursive;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  background-color: #eee;
  color: #000000;
}

#About{
  background-color: rgb(224,255,255);
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.About_me{
 width: 30%;
 height:auto;
  position: absolute;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
}
.Img {
  display: block;
  width: 400px;
  height: 300px;
}

.Art{
  left: 0%;
}

.Tennis{
  left: 35%;
}

.Music{
  left: 70%;
}
.description{
  width:100%;
  padding: 10px;
  
}

.carousel-item {
 height: 560px;
 text-align: center;
 }

.heading{
  font-size: 50px;
   color: #000000;
}

.Words{
  font-size: 30px;
  text-align:center;
  color: #000000;
}

.Words1{
  font-size: 25px;
  text-align: center;
  color:#000000;
}
.w-100{
    opacity: 0.5;
}
#mail{
font-family: cursive;
}

